/node_modules
/public/hot
/public/storage
/public/usr
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
vendor
cert.conf
lifecanvas.dev.crt
lifecanvas.dev.key
